<div data-ng-controller="countryViewController">
    <data-loader data-is-loading="loadingCountry">
        <div data-ng-if="!countryNotFound">
            <dl>
                <dt>Name:</dt>
                <dd>{{ country.name }}</dd>
                <dt>Capital:</dt>
                <dd>{{ country.capital }}</dd>
                <dt>Region:</dt>
                <dd>{{ country.region }}</dd>
                <dt>Subregion:</dt>
                <dd>{{ country.subregion }}</dd>
                <dt>Population:</dt>
                <dd>{{ country.population }}</dd>
                <dt>Area:</dt>
                <dd>{{ country.area }}</dd>
            </dl>
        </div>
        <div data-ng-if="countryNotFound">
            Not Found
        </div>
        <a data-ui-sref="countryList"> Back </a>
    </data-loader>
</div>