<div data-ng-controller="countryListController">
    <data-loader data-is-loading="loadingCountries">
        <div>
            <label for="country-name">Name:</label>
            <input type="text" data-ng-model="countryModel.name" name="CountryName" id="country-name" />
        </div>
        <div>
            <label for="country-symbol">Symbol:</label>
            <input type="text" data-ng-model="countryModel.symbol" name="CountrySymbol" id="country-symbol" />
        </div>
        <div>
            <button data-ng-click="addCountry()">Add</button>
        </div>
        <hr>
        <div data-ng-repeat="country in countries track by $index">
            <span> {{ country.name }} </span>
            <span> {{ country.symbol | countryCode }} </span>
            <a data-ui-sref="countryView({ name: country.name })"> view </a>
        </div>
    </data-loader>
</div>