<div>
    <div data-ng-if="isLoading">
        <div class="loader"
             style="width: 50px;
             height: 50px;
             background: red;
             border-radius: 50%;
             transition: all 0.05s linear;">
        </div>
    </div>
    <div data-ng-if="!isLoading">
        <div data-ng-transclude></div>
    </div>
</div>
